.promo {
    padding: 125px 0 200px 80px;
    color: $black;
    &__wrapper {
        display: flex;
        justify-content: flex-end;
        column-gap: 300px;
        align-items: center;
    }
    &__text {
        max-width: 405px;
    }
    &__title {
        margin-bottom: 36px;
        font-weight: 400;
        font-size: 76px;
        line-height: 105%;
        letter-spacing: 1px;
    }
    &__descr {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
    }
    &__btn {
        margin-right: 10px;
        width: 127px;
        height: 48px;
        &_light {
            width: 110px;
            height: 48px;
        }
    }
}

.promo__wrapper {
}
.promo__text {
}
.promo__title {
}
.promo__descr {
}
.promo__btns {
}
.btn_black {
}
.promo__btn {
}
.btn_white {
}
.promo__img {
}